<head>
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

  <br/>
  <br/>
  <br/>
  <div class="badBishopMain">
    <div class="row">
      <div class="column-left">
        <span class="fas fa-chess-bishop fa-10x pr-3"></span>
      </div>
      <div class="column-right pl-3">
        <h1> Bad Bishop </h1>
      </div>
    </div>
    <br/>
    <br/>
    <div class="subtitle">
      <h1> chess for the adventurous</h1>
    </div>
  </div>
  <br/>
  <br/>
</body>
