<% if @game.present? %>
  <div class="GameHeader">
    <%= @game.name %>
  </div>

  <div class="GameSubHeader">
    <div class="WhitePlayerName">
      <%= @game.white_player_id %>
    </div>
<% end %>

  <div class="BlackPlayerName">
    <% if @game.black_player_id.present? %>
      <%= @game.black_player_id %>
    <% else %>
      <p> Waiting for Player... </p>
    <% end %>
  </div>
</div>

<body>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<div class="chessboard col-6">
  <table>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </table>
</div>

</body>
