<head>
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <div class="index-body">
    <div class="hero"> 
      <div class="row">
        <div class="hero-box col-6 mt-5 offset-6 ">
          <div class="row mt-5 align-items-end">
            <div class="col-12 col-sm-2 text-right">
              <span class="fas fa-chess-bishop fa-10x"></span>
            </div>
            <div class="col-12 col-md-8 col-sm-10">
              <h1> BAD BISHOP </h1>
              <h5>chess for the adventurous</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%# <div class="row align-items-center">
      <div class="col md-1 text-right">
        <span class="fas fa-chess-bishop fa-10x mr-2 pr-5"></span>
      </div>
      <div class="col md-1">
        <h1> BAD BISHOP </h1>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 class="text-center"> chess for the adventurous</h1>
      </div>
    </div> %>
  
</body>
