<head>
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <div class="index-body">
    <div class="hero"> 
      <div class="row">
        <div class="hero-box col-6 offset-6 ">
          <div class="col">
            <div class="row mt-5 pt-5 align-items-end">
              <div class="col-12 col-md-3 col-sm-2">
                <span class="fas fa-chess-bishop fa-10x"></span>
              </div>
              <div class="col-12 col-md-9 col-sm-10">
                <h1> BAD BISHOP </h1>
                <h5>chess for the adventurous</h5>
              </div>
            </div>
              <div class="col-8 mt-5 text-center">
                <%= link_to "Play Now", games_path, class: "btn btn-light my-auto " %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
