<head>
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
  <div class="hero"> 
    <%# <div class="hero-box col-6 offset-1 ">
      <span class="fas fa-chess-bishop fa-10x mr-2 pr-5"></span>
      <h1> BAD BISHOP </h1>
      <h1 class="text-center">chess for the adventurous</h1>
    </div> %>
  </div>
</div>
    <%# <div class="row align-items-center">
      <div class="col md-1 text-right">
        <span class="fas fa-chess-bishop fa-10x mr-2 pr-5"></span>
      </div>
      <div class="col md-1">
        <h1> BAD BISHOP </h1>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 class="text-center"> chess for the adventurous</h1>
      </div>
    </div> %>
  
</body>
