@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap');

.badBishop {
  background-color: #feda6a;
  padding: 15px 10px 15px 10px;
}

.fa-chess-bishop:before {
  content: "\f42a";
  padding-left: 20px;
}

h1, .h1 {
  font-size: 3.5rem;
}

.badBishopMain {
  margin: 11% 0% 0% 0%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
  z-index: 1071;
  position: sticky;
  top: 0;
}

.bg-light {
  background-color: #feda6a !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #e5e5e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #e5e5e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #e5e5e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background: black;
  color: red;
}
td {
    width: 50px; 
    height: 50px;
    text-align: center;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: white;
}

.btn-primary {
  color: #feda6a;
  background-color: #eef2f3;
  border-color: #feda6a;
}

.GameHeader {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  margin-top: 2%;
}

.GameSubHeader:after {
  content: "";
  display: table;
  clear: both;
}

.BlackPlayerName {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

.WhitePlayerName {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

.last-moved-piece {
  background: green;
}

.ui-droppable-hover {
  border: red;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

main {
   display: block;
}

.list-group-item, .list-group-item-action:hover, .list-group-item-action:focus {
  background: transparent;
  border: none;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  font-weight:bold;
  text-decoration: underline;
}

.list-group-item.active {
    background-color: transparent;
    border-color: transparent;
    color: #495057;
}

